body {
    color: rgb(194, 194, 194);
    background-color: black;
    font-family: Roboto, "Courier New", "Times New Roman", Georgia, Arial, serif;
    
    display: flex;
    flex-direction: column;
    /* width: 800px; */
    /* margin: auto; */
}

.header,
.footer,
.block1 {
    padding-left: 100px;
    padding-right: 100px;
}

ul,
ol,
a {
    list-style-type: none;
    text-decoration: none;
}

a {
    color: red;
}

.header {
    justify-content: space-between;
    align-items: center;

    background-color: #1F2937;
}

.linksofthehead {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;

    background-color: #010813;
}

.header,
.footer {
    font-size: 12px;   
    display: flex;
    flex-direction: row;
    flex: 1 0 12px;
}

.block1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 12px;
    padding-top: 12px;

    background-color: #131922;
}

.propaganda-block {
    display: flex;
    flex-direction: column;
    width: 75rem;
}

#topbutton {
    height: auto;
    width: 120px;
    color: rgb(201, 0, 0);
    background-color: black;
    border-color: darkred;
}

.block2 {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.deathrow-portraits {
    display: flex;
    flex-direction: row;
    gap: 40px;
    height: 400px;
    width: 450px;

    color: red;
}

.block3 {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 600px;
    font-size: 36px;
    font-family: cursive;
    margin-top: 32px;
}

#quote {
    align-self: flex-end;
}

.block4 {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 60px;
    margin-bottom: 100px;
    width: 60%;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;

    /* background-color: rgb(29, 0, 44); */
    background-color: rgb(0, 0, 50);
    color: white;
}

#joinbutton {
    color: green;
    background-color: black;
    border-color: green;
}

#defybutton {
    color: red;
    background-color: black;
    border-color: red;
}