body {
    color: lightgray;
    background-color: black;
    font-family: Roboto, "Courier New", "Times New Roman", Georgia, Arial, serif;
    
    display: flex;
    flex-direction: column;
    /* width: 800px; */
    /* margin: auto; */
}

ul,
ol,
a {
    list-style-type: none;
    text-decoration: none;
}

a {
    color: red;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
}

.linksofthehead {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.header,
.footer {
    font-size: 12px;   
    display: flex;
    flex-direction: row;
    flex: 1 0 12px;
}

.header,
.footer,
.block1 {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}